// Font
$mainFont: "Montserrat", Helvetica, Arial, sans-serif;

// Size
$mainFontColor: #343434;
$mainFontWeight: 400;
$mainFontSize: 16px;
$mainLineHeight: 1;

$tableWidth: 1000px;
$phoneWidth: 520px;
$smPhoneWidth: 320px;

// Color

$cultured-bg-color: #f4f2f2;
$green-pantone: #00aa4b;
$platinum: #e8e7e7;
$white: #ffffff;
$eerie-black: #232323;
$sonic-silver: #787878;
$bright-yellow-crayola: #ffaf2d;

