footer(class="page-footer")
    .footer-top
        .page__inner
            div(class="footer-top__row hide-mobile_1000")
                .footer-top__row__column
                    +footer_col("Информация", ["Компания", "Портфолио", "Проектирование", "Ресторанам", "Застройщикам", "Гос.заказчикам", "Таблет-питание", "Сервис", "Новости", "Контакты"])
                .footer-top__row__column
                    +footer_col("Оборудование", ["Тепловое", "Холодильное", "Электромеханическое", "Посудомоечное", "Барное", "Хлебопекарное", "Линии раздачи", "Нейтральное", "Для фаст фуда", "Для залов", "Весовое"])
                .footer-top__row__column
                    +footer_col("Предложения", ["Кафе, барам, ресторанам", "Дестким садам и школам", "Таблет-питание", "Для кондитерских", "Для пиццерий", "Для магазинов", "Для воинских частей", "Все предложения"])
                .footer-top__row__column
                    .footer_title Контакты
                    div
                        a(href="tel:+74951503171") 8 495 150-31-71
                        a(href="tel:+78005004344") 8 800 500-43-44
                        a(href="#") звонок бесплатный
                    div
                        a(href="#") Пн-Пт
                        a(href="") 09:00 до 18:00
                    div
                        a(href="mailto:com@stolovay.ru") com@stolovay.ru
                        a(href="mailto:info@stolovay.ru  ") info@stolovay.ru
                    div
                        a(href="") 111524, Москва,
                        a(href="") Рязанский проспект 24к2
            ul(class="accordion show-mobile_1000")
                +accordion_mobile("Информация", ["Компания", "Портфолио", "Проектирование", "Ресторанам", "Застройщикам", "Гос.заказчикам", "Таблет-питание", "Сервис", "Новости", "Контакты"])
                +accordion_mobile("Оборудование", ["Тепловое", "Холодильное", "Электромеханическое", "Посудомоечное", "Барное", "Хлебопекарное", "Линии раздачи", "Нейтральное", "Для фаст фуда", "Для залов", "Весовое"])
                +accordion_mobile("Предложения", ["Кафе, барам, ресторанам", "Дестким садам и школам", "Таблет-питание", "Для кондитерских", "Для пиццерий", "Для магазинов", "Для воинских частей", "Все предложения"])
                +accordion_mobile("Контакты", ["8 495 150-31-71", "8 800 500-43-44", "звонок бесплатный", "com@stolovay.ru", "info@stolovay.ru"])
    .footer-bottom
        .page__inner
            .footer-bottom__row
                div
                    img(src="../assets/img/fork-and-knife.png", alt="knife-and-fork", class="img-wrapper")
                    div
                        .big_text Столовая.РУ
                        .footer_faint_text создание оптимальных пищеблоков
                div
                    p Сайт разработан NTI-systems


