footer(class="page__footer")
  .footer__top
    .footer__top_row
      .footer__top_row__column aa
      .footer__top_row__column aa
      .footer__top_row__column aa
      .footer__top_row__column aa
  .footer__bottom
    .footer__bottom_row aa
  